@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  font-family: 'Jetbrains Mono', sans-serif;
}

h3 {
  color: #5abd8b;
  margin-top: 5px;
  margin-bottom: 5px;
}

img {
  margin: -5px;
}

td {
  text-align: left;
}

.small-container {
  padding: 5px;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  margin: 6px;
}

.container {
  width: fit-content;
  height: fit-content;
  padding: 12px;
  background-color: #5abd8b;
  border-radius: 1rem;
  filter: drop-shadow(0 2mm 0.5rem rgba(0, 0, 0, 0.4));
  text-align: center;
}

.flex {
  display: flex;
}

.bar {
  background-color: #5abd8b;
  border-radius: 15px;
  width: 26rem;
  height: 1vh;
  transform: translateX(0.5rem);
}

.stat-box {
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.stat-number {
  margin-left: 1rem;
}

.i-stat-box {
  width: auto;
}

.td-bar {
  min-width: 25.5rem;
}

.box {
  padding: 1rem;
}

.type {
  border-radius: 1rem;
  padding: 6px;
  margin: 6px
}

.type-normal {
  background-color: #B7B7A8;
}

.type-fire {
  background-color: #FE6149;
}

.type-water {
  background-color: #53A9FF;
}

.type-electric {
  background-color: #FFD456;
}

.type-grass {
  background-color: #8CD470;
}

.type-ice {
  background-color: #7ED4FF;
}

.type-fighting {
  background-color: #C56F61;
}

.type-poison {
  background-color: #B770A9;
}

.type-ground {
  background-color: #E2C670;
}

.type-flying {
  background-color: #9AA9FF;
}

.type-psychic {
  background-color: #FF6FA9;
}

.type-bug {
  background-color: #B7C64A;
}

.type-rock {
  background-color: #C5B77E;
}

.type-ghost {
  background-color: #7D7EC6;
}

.type-dragon {
  background-color: #8D7FF1;
}

.type-dark {
  background-color: #8B6F61;
}

.type-steel {
  background-color: #B7B8C5;
}

.type-fairy {
  background-color: #F1A9F0;
}