@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

:root {
    --bg-color: #1e272e;
    --underline-color: #4bcffa;
    --name-color: #0be881;
    --name-color-hover: #05c46b;

    --name-font-size: 200%;
}

html {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color)
}

* {
    font-family: 'JetBrains Mono', monospace
}

body, .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.drop {
    animation: drop 1.5s ease forwards;
}

@keyframes drop {
    from { transform: translateY(-100vh); }
    to { transform: translateY(0px); }
}

.name {
    font-size: var(--name-font-size);
    color: var(--name-color);

    /* underline */
    padding-bottom: .05em;
    margin-bottom: .05em;
    border-bottom: .1em solid var(--name-color);
    width:fit-content;

    transition: 300ms;
}

.name:hover {
    color: var(--name-color-hover);
    border-bottom: .1em solid var(--name-color-hover);
    font-size: calc(var(--name-font-size) * 1.5);
}

.text {
    color: #ffffff;
}

.underline {
    padding-bottom: .05em;
    margin-bottom: .05em;
    border-bottom: .1em solid var(--underline-color);
    width:fit-content
}

.mb {
    margin-bottom: 2rem;
}

.img-scroll-container {
    width: 90px;
    height: 70vh;
    overflow: hidden;
    transform: translate(-30vw, 10vh) rotate(45deg);
    margin: 0px;
}

.img-scroll {
    background: url(./res/sprites-column.png) repeat-y;
    animation: slide 10s linear infinite;
    width: 80px;
    height: calc(960px * 2);
    position: absolute;
}
  
@keyframes slide {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -50%); }
}

.moveup {
    transform: translate(-15vw, -30vh)
}

section {
    margin-bottom: 2rem;
}

.mb-b {
    margin-bottom: 5rem;
}

a {
    color: #ffc048;
    text-decoration: none;
    transition: 300ms;
}

a:hover {
    color: #ffa801;
    font-size: 120%;
}

li {
    color: #ffffff;
    transform: translateX(20px);
}

li img {
    width: 32px;
    height: 32px;
    transform: translateY(10px);
}

.mt-s {
    margin-top: 1rem;
}

.icon {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.message {
    display: flex;
    align-items: center;
}

.socials {
    position: absolute;
    margin-bottom: 0px;
    transform: translate(30vw, -75vh);
}

.mt {
    margin-top: 5rem;
}